$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

html {
  font-size: 62.5%; /* varsayılan font-size:16px biz de 10px yapmak isiyoruz. 10/16 yaptık .625 çıktı bunun yüzde olarak yazarsak 62.5%*/
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Butonumuzu ortlamamızı da sağladı*/
  }
}

.header-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 5rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 2s;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* Bunu eklemediğimiz zaman üste kayıyor ve alan ihlali yapıyor*/
    border-radius: 3rem;
    transition: all 0.2s; /* Burada tüm aşağıdaki transformları seçtik ve animasyonlara süre ekleyerek hoş bir geçiş elde ettik*/
    position: relative;
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;

    &:hover {
      transform: translateY(
        -3px
      ); /*Üzerine geldiğimizde y ekseninde - verdiğimiz için yukarı çıktı*/
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active {
      transform: translateY(
        -1px
      ); /* Tıklandığı zaman bulunduğu -3px'den -1 asağı inde yine y ekseninde*/
      box-shadow: 0 2px 20px rgba($color-black, 0.2); /* Y ekseninde 2px'le çektik böylelikle gerçek bir button'a basılıyor gibi bir his verdi*/
    }
    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover::after {
    transform: scale(1.5);
    opacity: 0;
  }
  &--animated {
    animation-name: moveInBottom;
    animation-duration: 2s;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
